$primary: #131316;
$secondary: #333e51;
$white: #fff;
$black: #000;
$red: #FF0000;
$grey: #D9D9D9;

$z-index-header: 1000;
$z-index-modal: 1010;

$tablet-bp: 991px;
$md-bp: 768px;
$mobile-bp: 575px;

$header-height: 6rem;
