<section class="goods">
  <div class="container">

    <h1 class="goods__title">
      Наши&nbsp;новинки:
    </h1>

    <div class="goods__catalog goods__catalog--sm">
      <div class="card card--sm">
        <div class="card__image-wrapper card__image-wrapper--sm">
          <picture>
            <source srcset="assets/images/cards/ship-1.webp" type="image/webp">
            <img src="assets/images/cards/ship-1.png" alt="Ship" class="card__image">
          </picture>
        </div>
        <p class="card__text">
          «Чегантина» – парадный боевой крейсер
        </p>
        <p class="card__price">
          <span class="card__price-previous">$1299</span>
          <span class="card__price-current">$999</span>
        </p>
        <button class="button card__button">Заказать</button>
      </div>

      <div class="card card--sm">
        <div class="card__image-wrapper card__image-wrapper--sm">
          <picture>
            <source srcset="assets/images/cards/ship-2.webp" type="image/webp">
            <img src="assets/images/cards/ship-2.png" alt="Ship" class="card__image">
          </picture>
        </div>
        <p class="card__text">
          Космический корабль синего цвета
          (с&nbsp;локаторами)
        </p>
        <p class="card__price">
          <span class="card__price-previous">$1899</span>
          <span class="card__price-current">$1299</span>
        </p>
        <button class="button card__button">Заказать</button>
      </div>

      <div class="card card--sm">
        <div class="card__image-wrapper card__image-wrapper--sm">
          <picture>
            <source srcset="assets/images/cards/ship-3.webp" type="image/webp">
            <img src="assets/images/cards/ship-3.png" alt="Ship" class="card__image">
          </picture>
        </div>
        <p class="card__text">
          «Ночной ястреб» –
          Надежный корабль-перехватчик
        </p>
        <p class="card__price">
          <span class="card__price-current">$799</span>
        </p>
        <button class="button card__button">Заказать</button>
      </div>
    </div>

    <div class="goods__catalog">
      <div class="card card--md">
        <div class="card__image-wrapper card__image-wrapper--md">
          <picture>
            <source srcset="assets/images/cards/ship-4.webp" type="image/webp">
            <img src="assets/images/cards/ship-4.png" alt="Ship" class="card__image">
          </picture>
        </div>
        <p class="card__text">
          «Карающий луч» –
          Полнофункциональный боевой корабль низкой ценовой категории
        </p>
        <p class="card__price">
          <span class="card__price-current">$479</span>
        </p>
        <button class="button card__button">Заказать</button>
      </div>

      <div class="card card--md">
        <div class="card__image-wrapper card__image-wrapper--md">
          <picture>
            <source srcset="assets/images/cards/ship-5.webp" type="image/webp">
            <img src="assets/images/cards/ship-5.png" alt="Ship" class="card__image">
          </picture>
        </div>
        <p class="card__text">
          «Антидоминатор» –<br>
          Дорогое и&nbsp;эффективное оружие против доминаторов.
        </p>
        <p class="card__price">
          <span class="card__price-current">$1779</span>
        </p>
        <button class="button card__button">Заказать</button>
      </div>
    </div>

  </div>
</section>