<div class="promo">
	<div class="container">

		<h2 class="title promo__title">
			Корабль дня:
		</h2>

		<div class="card promo-card">

			<div class="promo-card__content">
				<picture class="promo-card__picture">
					<source srcset="assets/images/cards/ship-6.webp" type="image/webp">
					<img class="promo-card__image" src="assets/images/cards/ship-6.png" alt="Ship">
				</picture>

				<div class="promo-card__info">
					<div class="promo-card__rate">
						<img class="promo-card__image-rate" src="assets/images/icons/spaceship-icon.png" alt="rate">
						<img class="promo-card__image-rate" src="assets/images/icons/spaceship-icon.png" alt="rate">
						<img class="promo-card__image-rate" src="assets/images/icons/spaceship-icon.png" alt="rate">
						<img class="promo-card__image-rate" src="assets/images/icons/spaceship-icon.png" alt="rate">
						<img class="promo-card__image-rate promo-card__image-rate--unactive"
							src="assets/images/icons/spaceship-icon.png" alt="rate">
					</div>

					<h3 class="promo-card__name">«Цербер»</h3>

					<p class="promo-card__description">
						Маневренное патрульное судно, предназначенное для охраны систем.
					</p>

					<p class="promo-card__price price">
						<span class="price--original">$1600</span>
						<span class="price--with-discount">$1400</span>
						<span class="price--current">$800</span>
						<span class="price--discount">-50%</span>
					</p>

					<p class="promo-card__discount-block">
						Скидка SPACESHOP
						<span class="promo-card__discount-amount">$200</span>
					</p>

					<p class="promo-card__discount-block">
						Промокод «КОРАБЛЬДНЯ3»
						<span class="promo-card__discount-amount">$600</span>
					</p>

					<p class="promo-card__discount-block">
						Вы экономите
						<span class="promo-card__discount-amount promo-card__discount-amount--economy">$800</span>
					</p>
				</div>
			</div>

			<p class="promo-card__promocode">
				Корабльдня3
			</p>

			<button class="button promo-card__button">
				Заказать
			</button>
		</div>

	</div>
</div>